*{
    box-sizing: border-box;
}
body {

    background: linear-gradient(180deg, peachpuff 0%, lightpink 100%);
    text-align: center;
}
header {
    font-style: italic;
    color: royalblue;
    border: dotted;
    margin: 20px;
}
li {
    list-style: none;
}


h1 {
    text-transform: uppercase;
    color: purple;
    transition: color 1s ease-in-out;

}
h2:hover {
    color: darkblue;
}
h2 {
    color: royalblue;
    font-style: italic;
}

aside {
    color: rebeccapurple;
    font-style: italic;
    margin-top: 30px;
}

.picture {
    border: solid;
}

.cool {
color: purple;
}
#author {
    font-style: italic;
}
#special {
    font-size: 20px;

}
#cool-square:hover {
    width: 300px;
    height: 300px;
    background: blue;
    cursor: pointer;
}

#cool-square {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    background: red;
    border-radius: 15px;
    border: dotted;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    transition: all .5s ease-in-out;
    
}