*{
    box-sizing: border-box;
}
body {
    background: lightpink;
    text-align: center;
}
header {
    font-style: italic;
    color: royalblue;
    border: dotted;
    margin: 20px;
}
li {
    list-style: none;
    font-style: italic;
}


h1 {
    text-transform: uppercase;
    color: purple;
}

h2 {
    color: royalblue;
    font-style: italic;
}

aside {
    color: rebeccapurple;
    font-style: italic;
}

.picture {
    border: solid;
}

.strange {
    text-align: center;

}

.cool {
color: purple;
}
#author {
    font-style: italic;
}
#special {
    font-size: 20px;

}


#cool-square {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    background: red;
    border-radius: 15px;
    border: dotted;
    margin: 0 auto;
    padding: 10px;
    
}